body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.popup {
	font-family: 'Hack', ui-monospace, monospace;
	display: none;
	position: fixed;
	width: 40rem;
	height: auto;
	max-height: 80vh;
	overflow: scroll;
	border-radius: 0.625rem;
	background-color: #fff;
	border: 4px solid #000;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	&.active {
		display: block;
	}
	&__header {
		width: 100%;
		text-align: center;
		line-height: 2;
		// border-bottom: 4px solid #000;
		position: relative;
		background: repeating-linear-gradient(
			0deg,
			#222,
			#222 7px,
			#fff 7px,
			#fff 14px
		);
	}
	&__close {
		position: absolute;
		height: 100%;
		width: 2.5rem;
		top: 0;
		left: 0;
		border: none;
		color: #000;
		font-size: 1.5rem;
		cursor: pointer;
	}
	&__title {
		text-transform: lowercase;
		font-weight: bold;
		position: relative;
		display: inline-block;
		background-color: white;
		padding: 0 1rem;
	}
	&__body {
		padding: 1rem;
	}
	video {
		outline: none;
	}
}
